.container {
    display: flex;
    height: 100%;
    background-color: white;

    img {
        clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
        object-fit: contain;
        width: 845px;
    }

    .texto {
        flex-direction: column;
        justify-content: center;
        display: flex;
        width: 100%;

        .descricao {
            padding-left: 40%;

            li {
                font-weight: 400;
                font-size: 16px;
                align-self: center;
            }
        }


        h1 {
            font-size: 35px;
            font-weight: 200;
            color: #121763;
            margin-bottom: 10px;
            align-self: center;
        }



        a {
            margin-top: 15px;
            text-align: center;
            text-decoration: none;
            background-color: #0080FF;
            border-radius: 8px;
            color: white;
            justify-self: center;
            align-self: center;
            width: 200px;
            padding: 6px;
            font-size: 25px;
            font-weight: 200;
            transition: 0.3s;

            &:hover {
                background-color: #121763;
            }
        }
    }
}

.container2 {
    display: flex;
    height: 100%;
    background-color: white;
    flex-direction: row-reverse;

    img {
        object-fit: contain;
        width: 845px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    }



    .texto2 {
        flex-direction: column;
        justify-content: center;
        display: flex;
        width: 100%;


        .descricao2 {
            padding-left: 40%;

            li {
                font-weight: 400;
                font-size: 16px;
                align-self: center;
            }
        }

        h1 {
            font-size: 35px;
            font-weight: 200;
            color: #121763;
            margin-bottom: 10px;
            align-self: center;
        }

        a {
            margin-top: 15px;
            text-decoration: none;
            background-color: #0080FF;
            border-radius: 8px;
            color: white;
            text-align: center;
            justify-self: center;
            align-self: center;
            width: 200px;
            padding: 6px;
            font-size: 25px;
            font-weight: 200;
            transition: 0.3s;

            &:hover {
                background-color: #121763;
            }
        }
    }
}