.card {
    background-color: #000663;
    width: 95%;
    border-radius: 8px;
    justify-self: center;
}

.bannerTexto {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 350px;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    p {
        position: absolute;
        top: 50%;
        color: white;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
        font-weight: 500;
    }

    .id {
        background-color: #0080FF;
    }

}

.categoriaTitulo {
    justify-content: space-around;
    align-items: center;
    display: flex;
    color: #121763;
    margin-top: 30px;
    background: url();

    h1 {
        font-size: 70px;
    }

    a {
        text-decoration: none;
        color: white;
        background-color: #1D25A1;
        padding: 5px 20px;
        border-radius: 5px;
    }
}

.cardDescricao {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    margin-bottom: 30px;

    a {
        color: white;
        text-decoration: none;
        font-size: 25px;
        font-weight: 600;
        padding: 10px 100px;
        border-radius: 7PX;
        background-color: #105AA3;
    }

    .ver {
        background-color: #0080FF;  
        transition: all 0.5s;
        &:hover{
            transform: scale(1.02);
        }
    }
    .delet {
        background-color: red;
        color: white;
        padding: 10px 25px;
        border-radius: 12px;
        border: none;
           transition: all 0.5s;
        &:hover{
            transform: scale(1.03);
        }
    }
}